<%- include('partials/head.ejs')  %>

<body id="body" class="px-12 bg-gray-700 text-white">
  <div class="flex  gap-12 items-center justify-center">
    <details>
      <summary>
        Actions
      </summary>
      <div class="absolute bg-white p-2 rounded ">

        <div class="px-3 center gap-2 flex pt-4">
          <button hx-get="/testing/calculateScores" hx-trigger="" hx-target="#body" class="bg-blue-400 p-1 text-white rounded-sm shadow-sm ">Calculate Scores</button>
          <button hx-get="/testing/reset" hx-trigger="" hx-target="#body" class="bg-red-400 p-1 text-white rounded-sm shadow-sm ">Reset Scores</button>
          <button hx-get="/testing/purge" hx-trigger="" hx-target="#body" class="bg-black p-1 text-white rounded-sm shadow-sm ">PURGE</button>
        </div>
      </div>
    </details>
    <div hx-get="/testing/ads/settings" hx-trigger="load">
    </div>
    <details>
      <summary class=>

        New Product
      </summary>
      <div class="absolute bg-white rounded text-black px-3">

        <%- include('partials/newProduct.ejs') %>
      </div>
    </details>
  </div>

  <div class="grid  gap-6 grid-cols-3">

    <% for (let i =0 ; i < data.products.length; i++) { %>
    <% const product = data.products[i] %>

    <%- include('partials/product.ejs', {
    product
  }) %>
    <% } %>
  </div>
</body>