<div>
  <details>
    <summary>
      Settings
    </summary>
    <div class="absolute bg-white stroke-gray-950 shadow-sm text-black px-2 py-3 rounded ">
      <% const countViews = flags.countViews  %>
      <% if(countViews) { %>
      <div>
        Count Views <input hx-trigger="change" type="checkbox" checked hx-put="/testing/ads/settings/?setting=countViews" name="setting" value="countViews" />
      </div>
      <% } else { %>
      <div>
        Count Views <input hx-trigger="change" type="checkbox" hx-put="/testing/ads/settings/?setting=countViews" name="setting" value="countViews" />
      </div>
      <% } %>
      <% const exponentialBackoff = flags.exponentialBackoff %>
      <% if(exponentialBackoff) { %>
      <div>
        Exponential Backoff <input hx-trigger="change" type="checkbox" checked hx-put="/testing/ads/settings/?setting=exponentialBackoff" name="setting" value="exponentialBackoff" />
      </div>
      <% } else { %>
      <div>
        Exponential Backoff <input hx-trigger="change" type="checkbox" hx-put="/testing/ads/settings/?setting=exponentialBackoff" name="setting" value="exponentialBackoff" />
      </div>
      <% } %>
    </div>
  </details>
</div>